* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, 
section h2,
section h3,
form button {
    font-family: 'Bungee', cursive;
    font-weight: normal;
    color: white;
}

body, input, textarea {
    font-family: 'Roboto', sans-serif;
}

h1 {
    padding-left: 370px;
}

.depoimentos h3, .certificados h3 {
    font-size: 28px;
    padding-left: 500px;
}

.redes h3{
    font-size: 28px;
    margin-left: 20px;
}

.contato h3 {
    font-size: 28px;
}

header {
    padding: 10px 0;   
    background-color: #1a7894;
    color: #ecf0f1;
    border-bottom-style: double;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container, 
section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list img {
    height: 40px;
}

.brands-list li {
    display: inline;
    margin-right: 8px;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
    margin-right: 163px;
}

section {
    color: #182C61;
}

section p {
    margin-bottom: 8px;
    color: white;
    text-align: justify;
    font-size: 22px;
}

.foto-pessoal {
    margin-right: 32px;
}

.social-links img {
    height: 72px;
    margin-left: 10px;
}

.social-links li{
    display: inline;
    margin-right: 0px;
}

.social-links li a{
    text-decoration: none;
    padding-left: 30px;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 94px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: rgba(6, 48, 82, 0.733);
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #314e9e;
}

input:focus, textarea:focus {
    outline-color: #182C61;
}

.certificados1 img {
    height: 440px;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 300px;
}

.certificados1 li {
    display: inline;
    margin-right: 10px;
}

.certificados2 img {
    height: 440px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.certificados2 li {
    display: inline;
    margin-right: 10px;
}

.certificados3 img {
    max-height:390px;
    width: auto;
    height: auto;
    justify-content: space-between;
    display: inline;
    margin-bottom: 10px;
}

.certificados3 li {
    display: inline;
    margin-right: 10px;
}


body {
    background-color: #1a7894;
}

footer {
    border-top-style: double;
    padding: 30px 0;
    color: white;
}

.depoimentos1 img {
    height: 304px;
    justify-content:space-between;
    margin-bottom: 10px;
    margin-left: 300px;
}

.depoimentos1 li {
    display: inline;
    margin-right: 10px;
}

.depoimentos2 img {
    height: 148px;
    justify-content:space-between;
    margin-bottom: 10px;
}

.depoimentos2 li {
    display: inline;
    margin-right: 10px;
}

.depoimentos3 img {
    height: 148px;
    justify-content:space-between;
    margin-bottom: 10px;
    margin-left: 300px;
}

.depoimentos3 li {
    display: inline;
    margin-right: 10px;
}

@media only screen and (max-width: 767px) {
    .depoimentos1 img {
        height: 304px;
        max-width: 100%;
        justify-content:space-between;
        margin-bottom: 10px;
        margin-left: 0;
    }
    
    .depoimentos2 img {
        height: 148px;
        max-width: 100%;
        justify-content:space-between;
        margin-bottom: 10px;
        margin-left: 0;
    }

    .depoimentos3 img {
        height: 148px;
        max-width: 100%;
        justify-content:space-between;
        margin-bottom: 10px;
        margin-left: 0;
}

.certificados1 img {
    height: 440px;
    max-width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 0;
}

.certificados2 img {
    height: 440px;
    max-width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 0;
}

.certificados3 img {
    height: 440px;
    max-width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 0;
}

section p {
    color: white;
    text-align: justify;
    font-size: 20px;
}
.contact-methods {
    justify-content: space-between;
}

.social-links img {
    height: 72px;
    margin-bottom: 8px;
    padding-left: 130px;
}

.social-links li{
    display: block;
}

.redes h3{
    padding-left: 90px;
    justify-content: space-between;
    font-size: 24px;
    align-items: center;
}
.contato h3 {
    padding-left: 80px;
    justify-content: space-between;
    font-size: 24px;
    align-items: center;
}

.depoimentos h3{
    padding-left: 110px;
    justify-content: space-between;
    font-size: 24px;
    align-items: center;
}

.certificados h3{
    padding-left: 110px;
    justify-content: space-between;
    font-size: 24px;
    align-items: center;
}

h1 {
    padding-left: 55px;
    justify-content: center;
}

header .container, 
section .container{
    display: block;
    align-items: center;
    justify-content: space-between;
}

form {
    padding-left: 80px;
}

form input,
form textarea,
form button{
    display: block;
    width: 250px;
}

.contact-methods {
    display: block;
    align-items: center;
}

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .depoimentos1 img {
        height: 304px;
        max-width: 77.5%;
        justify-content:space-between;
        margin-bottom: 10px;
        margin-left: 90px;
    }
    
    .depoimentos2 img {
        height: 148px;
        max-width: 100%;
        justify-content:space-between;
        margin-bottom: 10px;
        margin-left: 90px;
    }

    .depoimentos3 img {
        height: 148px;
        max-width: 77.5%;
        justify-content:space-between;
        margin-bottom: 10px;
        margin-left: 90px;
}

.certificados1 img {
    height: 440px;
    max-width: 125%;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 90px;
}

.certificados2 img {
    height: 440px;
    max-width: 125%;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 90px;
}

.certificados3 img {
    height: 440px;
    max-width: 125%;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 90px;
}

section p {
    color: white;
    text-align: justify;
    font-size: 22px;
    padding-left: 0px;
}
.contact-methods {
    justify-content: space-between;
}

.social-links img {
    height: 72px;
    margin-bottom: 8px;
    padding-left: 140px;
}

.social-links li{
    display: flex;
}

h2 {
    padding-left: 160px;
    justify-content: center;
}

h1 {
    padding-left: 60px;
    justify-content: center;
}

h3 {
    padding-left: 270px;
    justify-content: center;
}

header .container, 
section .container{
    display: inline;
    align-items: center;
    justify-content: space-between;
    padding-left: 160px;
}

form {
    padding-left: 100px;
}

form input,
form textarea,
form button{
    display: block;
    width: 250px;
}

}